html{

    scroll-behavior:smooth;

}

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-thumb{

    background:#334155;

    border-radius:20px;

}

button{

    cursor:pointer;

    border:none;

}

input{

    outline:none;

}